/**** Base styles ****/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}


body { 
  font: 14px 'Helvetica';
  color: #000;
  font-weight: normal;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1 {
  font: 14px 'Helvetica';
  font-size: 14px;
  font-weight: normal;
  float: left;
}


/**** Content ****/

#content {
  padding: 10px 10px 10px 210px;
}

.copy h2 {
  clear: both;
}

a img {
  border: none;
}

pre, code {
  font-family: Monaco, monospace;
  font-size: 14px;
  background: #111;
  color: #F5F5F5;
}

p code {
  padding: 1px 3px;
}

pre {
  padding: 10px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

ul, ol { padding-left: 1.3em;}

.hidden { display: none; }

.copy {
  width: 600px;
  line-height: 1.55em;
}

blockquote {
	margin: 0;
	font: italic 14px Georgia, serif;
}

dt {
  font-weight: bold;
  font-size: 14px;
}

dd + dt {
  margin-top: 0.5em;
}

dd {
  margin-left: 1.0em;
}

button {
  -webkit-appearance: push-button;
}

/**** Demos ****/

#container {
  background: #FFF;
  clear: both;
  padding-top: 30px;
}

.detail {
  padding-left: 10px;
  width: 690px;
}

nav {
  margin: 10px;
}

nav ul {
  float: left;
  padding-left: 125px;
  list-style-type: none; 
}

nav a:hover {
  color: #666;
}

.centered { margin: 0 auto; }

.box {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4em;
  float: left;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

h2 {
  font-size: 14px;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 { width: 270px; }
.col2 { width: 270px; }
.col3 { width: 550px; }

.col1 img { max-width: 270px; }
.col2 img { max-width: 270px; }
.col3 img { max-width: 550px; }

.col1 img:nth-child(1) {
  position: absolute;
  width: 60px !important;
  height: 60px !important;
  top: -15px;
  left: 165px;
  z-index: 5;
}

.col2 img:nth-child(1) {
  position: absolute;
  width: 60px !important;
  height: 60px !important;
  top: -15px;
  left: 200px;
  z-index: 5;
}

.col3 img:nth-child(1) {
  position: absolute;
  width: 60px !important;
  height: 60px !important;
  top: -15px;
  left: 470px;
  z-index: 5;
}

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}


/**** Clearfix ****/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box p {
  font-size: 14px;
  margin-bottom: 12px;
}

.box-rollover {
  width: 100%;
  height: 0px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  
  /* #FFFF66 with opacity */
  background-color: rgba(255, 255, 102, 0.7);
  
  /* Firefox */
  -moz-transition-property: height;
  -moz-transition-duration: .5s;
  /* WebKit */
  -webkit-transition-property: height;
  -webkit-transition-duration: .5s;
  /* Opera */
  -o-transition-property: height;
  -o-transition-duration: .5s;
  /* Standard */
  transition-property: height;
  transition-duration: .5s;
}

/* JS will change this to display: block when it runs. */ 
.box-static {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Now done in JQuery and only for desktop browsers.
.box:hover .box-rollover {
  height: 100%;
}

.box:hover .box-static {
  display : none;
}
*/

.light p {
  color: #fff !important;
}

.box-padding {
  padding: 10px;
}

.box-rollover p {
  background: url(../img/dotted.gif) bottom left repeat-x;
  padding-bottom: 10px;
}

/* Phones and tablets */
@media screen and (max-width: 768px) {
	
  nav, h1, div.box-padding p {
    font-size: 32px;
  }
  
  nav ul {
    position: relative;
    left: 100px;
  }
  
  #site-nav {
    width: auto;
    position: relative;
    left: auto;
    top: auto;
    padding-top: 0px;
    height: auto;
    margin-bottom: 20px;
  }
  
  #content {
    padding-left: 10px;
  }

}
